<%# <div class = 'main-container'> %>
    <%# <div class='container'> %>
        <div class='profile-container'>
            <h2  class='profile-name'><%= @admin.name%></h2>
            <div class= 'profile-photo'><%= image_tag(@admin.photo.url) if @admin.photo? %></div>
            <button><%= link_to 'Edit Profile', edit_admin_path, method: :get, class: 'btn-link' %></button>
        </div>
    <%# </div> %>
<%# </div> %>

