<div>
    <table>
        <thead>
            <tr>
                <th> Title</th>
                <th> Description </th>
            </tr>
        </thead>
        <tbody>
    <% @articles.each do |article| %>
            <tr>
                <th> 
                    <%=link_to article.title.truncate(100), article_path(article), method: :get %>
                </th>
                <th> 
                    <%= article.description.truncate(100) %>
                </th>
            </tr>
        </tbody>
    <%end %>
    </table>
</div>