<h4>new Article<h4>
<%= form_with model: @article do |f|%>
    <div>
        <%= f.text_field :title, placeholder: 'title to your article'%>
    </div>
    <div>
        <%= f.text_area :body, placeholder: 'body of your article'%>
    </div>
    <%= f.submit "submit your article"%>
<% end %>
