/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body,html {
    font-weight: 200;
    display: flex;
    flex-direction: row;
    background-color: crimson;
    height: 100%;
    padding-right: 15%;
    padding-bottom: 3%;
 }
 .main-content {
    display: flex;
    flex-direction: column; 
    flex-grow: 1; 
}

 .container {
    display: flex; 
    background-color: aliceblue;
    justify-content: center;
    padding: 2rem 1.7rem;
    border-radius: 3rem;
    box-sizing: border-box;  
    box-shadow: 0px 5px 10px darkslateblue; /* horizontal offset, vertical offset, blur radius, color */
    flex-grow: 1;
 }

.actual-button-container {
    display: flex;
    flex-direction: column;
    justify-content: start, space-evenly;
    left: 0; 
    top: 0; 
    padding-right: 5%;
    padding-left: 10%;
    height: 50%; 
    padding-top: 10%;
    padding-bottom: 10%
}
.actual-button-container-b {
    justify-content: end, space-evenly;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 5%;
    padding-left: 5%;
    height: 50%; 
    padding-top: 10%;
    padding-bottom: 10%
}

 .container-image {
    max-width: 100%; 
    max-height: calc(100% - 4rem);
    display: block;
    margin: 0 auto; 
}

 h1{
    display: flex;
    justify-content: center;
 }
 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: midnightblue;
 }
 .site-header {
    letter-spacing: 4.2px;
    font-weight: 200;
    color: aliceblue;
    font: 'century-gothic';
    display: center;
    justify-content: center;
    text-decoration: none;
    top: 10%;
    padding: 2.5%;
    border-radius: 6rem;
 }
 .button-container {
    height: 34rem;
    width: 55rem;  /* This makes the button container stretch across the entire width of its parent container */
    display: inline-block;  
    flex-direction: column;  
}

button {
    justify-content: center;
    padding: 1rem 2rem;
    height: 15%;
    border: none;
    border-radius: 3.75rem;
    background-color: transparent;
    border-color: steelblue;
    box-sizing: border-box; 
    text-align: center;  
}
button:hover {
    background-color: lavender;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    border-radius: 3.75rem;
    /* border-color: lightsteelblue; */
    box-sizing: border-box;
    box-shadow: 1px 1px 15px aliceblue;
    text-align: center;  
    transition-duration: .5s 
}
button:active {
    font: 'century-gothic';
    justify-content: space-evenly;
    padding: 1rem 2rem; 
    border-radius: 3.75rem;
    border-color: crimson;
    box-sizing: border-box;  
    box-shadow: 0px 5px 40px white; 
    text-align: center;  
    transition-delay: none; 
}
.btn-link {
    background-color: transparent !important;
    display: inline-block;
    width: 100%;
    font: 'century-gothic';
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: lightblue;
}
.btn-link:hover {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: crimson;
    transition-delay: .05s ease;
    
}
 .site-header:hover {
    letter-spacing: 4.4px;
    font-weight: 250;
    color: crimson;
    font: 'century-gothic';
    display: center;
    background-color: lavender;
    border-radius: 6rem;
    padding: 2.5%;
    justify-content: center;
    text-decoration: underline;
    top: 8%;
    transition-duration: .7s ;
    box-shadow: 0px 5px 20px aliceblue;
 }
/* Login container styling */
.login-container {
    padding: 20px 40px;
}

.login-container div {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* Label Styling */
.login-container label {
    margin-bottom: 8px;
    color: midnightblue;
    font-weight: bold;
}

/* Input fields styling */
.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    border-radius: 5px;
    border: 1px solid midnightblue;
    color: midnightblue;
    background-color: #FFF;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
    border-color: crimson;
    outline: none;
}

/* Login button styling */
.login-container input[type="submit"] {
    width: 100%;
    background-color: crimson;
    color: aliceblue;
    border: none;
    padding: 12px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: midnightblue;
}

/* Signup link styling */
.login-container a {
    color: crimson;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.login-container a:hover {
    color: midnightblue;
}

/* Signup container styling */
.signup-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px 40px;
    width: 80%;
    height: 90%
}

.signup-container h3 {
    color: midnightblue;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.signup-container div {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Label Styling */
.signup-container label {
    margin-bottom: 8px;
    color: midnightblue;
    font-weight: bold;
}

/* Input fields styling */
.signup-container input[type="text"],
.signup-container input[type="password"],
.signup-container input[type="email"]
{ 
    width: 100%;
    padding: 12px 15px;
    border-radius: 5px;
    border: 1px solid midnightblue;
    color: midnightblue;
    background-color: #FFF;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.signup-container input[type="text"]:focus,
.signup-container input[type="password"]:focus,
.signup-container input[type="email"]:focus {
    border-color: crimson;
    outline: none;
}

.signup-container input[type="file"] {
    padding: 8px 0;  /* reduce padding for file input */
    width: 35%;
    color:midnightblue;
    background-color: aliceblue;
}

/* Signup button styling */
.signup-container input[type="submit"] {
    width: 30%;
    background-color: crimson;
    color: aliceblue;
    border: none;
    padding: 12px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.signup-container input[type="submit"]:hover {
    background-color: midnightblue;
}

.profile-name {
    color: midnightblue;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 4.2px;
    font-weight: 400;
}
.profile-photo {
    display: flex;
    justify-content: center;
    width: 200px; /* You can adjust the size as needed */
    height: 200px;

    border-radius: 40%; /* Makes the photo circular */
    overflow: hidden;
}
.profile-photo img {
    width: 80%;
    height: 80%;
    object-fit: cover; /* This ensures that the image covers the div without being stretched or squeezed */
}
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    
    margin: 20px auto; /* center the div horizontally */
    border-radius: 8px;
}
/* New Article Container */
.new-article-container {
    padding: 0 1rem;

    border-radius: 8rem ;
    background-color: aliceblue;
    max-width: 800px; 
    margin: 20px auto; 
}

.new-article-container h3 {
    color: crimson;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

.new-article-container div {
    margin-bottom: 20px;
}

/* Input and Textarea fields */
.new-article-container input[type="text"],
.new-article-container textarea

{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid midnightblue;
    border-radius: 4px;
    color: midnightblue;
    background-color: #FFF;
    transition: border-color 0.3s ease;
}

.new-article-container textarea {
    height: 100px; 
    resize: vertical; 
}

.new-article-container textarea[name="body"] {
    height: 200px; 
}

.new-article-container input[type="text"]:focus,
.new-article-container textarea:focus,
.new-article-container input[type="file"]:focus {
    border-color: crimson;
    outline: none;
}
.new-article-container input[type="submit"] {
    background-color: crimson;
    color: aliceblue;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.new-article-container input[type="submit"]:hover {
    background-color: midnightblue;
}

.file-and-update {
    display: flex;             /* Enable flex layout */
    align-items: center;       /* Align vertically centered */
    justify-content: space-between; /* Give some space between the two inner divs */
    gap: 10px;                 /* Space between flex items (in case it's supported in your browser version) */
}

.file-input {
    flex-grow: 1;             /* Allow the file input to take up available space */
}

.update-button {
    flex-shrink: 0;            /* Prevent button from shrinking */
    margin-left: 10px;         /* Optional: Add some spacing between file input and button */
}


/* Main table styling */
table {
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0;
}

/* Table headers styling */
table thead th {
    background-color: #f8f9fa; /* Light gray from Bootstrap for headers */
    padding: 12px 15px;
    border: 1px solid #dee2e6; /* Border color taken from Bootstrap */
    text-align: left;
    font-weight: bold;
    color: steelblue; /* Dark gray color for text */
}

/* Table body rows and cells styling */
table tbody tr {
    border-bottom: 1px solid #dee2e6; /* Border for the rows */
}

table tbody tr:nth-child(odd) {
    background-color: #f8f9fa; /* Light gray for odd rows to achieve striping */
}

table tbody tr:nth-child(even) {
    background-color: #ffffff; /* White for even rows */
}

table tbody th,
table tbody td {
    padding: 12px 15px;
    border: 1px solid #dee2e6;
    text-align: left; 
}


table tbody th a {
    color: royalblue; 
    text-decoration: none;
    transition: color 0.3s;
    text-align: left;
    display: block;
}

table tbody th a:hover {
    color: cornflowerblue; 
}
.article-container {
    margin: 30px auto;
    padding: 20px;
    background-color: aliceblue;
}

.article-title {
    color: midnightblue;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 15px;
}

.article-description {
    color: crimson;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.article-body {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #333;
}

.article-image img {
    max-width: 60%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    
}

.article-author {
    font-size: 0.9rem;
    color: steelblue;
    margin-bottom: 20px;
}

.article-author span {
    font-weight: bold;
}
.btn {
    font-family: century-gothic;
    font-size: 18px;
    height: 3rem;
    color: lightsteelblue;
    text-decoration: none;
}
.btn-edit {
    background-color: midnightblue;
    color: aliceblue;
    transition: background-color 0.2s ease-in-out;
}

.btn-edit:hover {
    background-color: lightsteelblue;
}

.btn-destroy {
    background-color: crimson;
    
    transition: background-color 0.2s ease-in-out;
}

.btn-destroy:hover {
    background-color: maroon;
    transition: background-color 0.6s ease-in-out
}



    



