
<table>
    <thead>
        <tr>
            <th>
                Admin 
            </th>
            <th>
                Article
            </th>
            <th>
                Action
            </th>
            <th>
                Timestamp
            </th>
        <tr>
    </thead>
    <tbody>
        <tr>
            <th>
                alejandro
                <%# <%= @admin.name %> %>
            </th>
            <th>
                heartburn
                <%# <%= @article.title %> %>
            </th>
            <th>
                edit
                <%= 'action string' %>
            </th>
            <th>
                09/18/2023
                <%= 'timestamp' %>
            </th>
        </tr>
    </tbody>
</table>